[submodule "datafeed-dapp/frontend/lib/forge-std"]
	path = datafeed-dapp/frontend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "datafeed-dapp/lib/forge-std"]
	path = datafeed-dapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "random-number-dapp/lib/forge-std"]
	path = random-number-dapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
